/* latin-ext */
@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: local('Corben'), url(http://fonts.gstatic.com/s/corben/v9/LFoJekgv75fOsAv_mkHGcBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: local('Corben'), url(http://fonts.gstatic.com/s/corben/v9/ljkAb4w-83fUltRn9aENdVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: local('Nobile'), local('Nobile-Regular'), url(http://fonts.gstatic.com/s/nobile/v7/1Pj9N1CqUdBPIvXGjs7VPw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

p { 
	text-align: center;
	margin-top: 0em;
  	margin-bottom: 4em;
  	font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
.maindiv { text-align: center }
.button {
    position: absolute;
    top: 50%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

body {   
  background: url(../img/cream_dust.png) repeat 0 0;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  padding: 10px;
  max-width: 900px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 50px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 48px;
  line-height: 1.4;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.btn i {
  margin-right: 8px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}