<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="google-site-verification" content="MvUVQxZnTp-9yzaYfzrSYteMavdjdSppMKDTvZiqePo" />
    	<title>Sports Combobulator</title>
    	<link rel="stylesheet" type="text/css" href="/css/custom.css" />
    	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    	<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.min.css" />
		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="/js/admin.js"></script>
		<script src="/js/jquery.datetimepicker.full.min.js"></script>
	</head>
	<body>
	<div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/index.html">Home</a></li>
          <li class="active"><a href="/user">My Predictions</a></li>
          <li class="active"><a href="/about.html">About</a></li>
          <li class="active"><a href="/contact.html">Contact</a></li>
        </ul>
        <h3 class="muted">Sports Combobulator</h3>
      </div>

      <hr>
      	<div class="jumbotron">
        	<h1>Admin Page</h1>
        	<div class="createMatch">
        		Away Team: <select class="awayTeamSelector"></select> Home Team: <select class="homeTeamSelector"></select>
        		<br />Kickoff: <input id="datetimepicker" type="text" />
        		<br /><button onClick="createMatch()">Create Match</button>
        	</div>
        	<div class="updateScore">
        		Away Team: <select class="matchSelector"></select>
        		<br />Away Team: <input id="awayScore" type="text" /> Home Team: <input id="homeScore" type="text" />
        		<br /><button onClick="updateScore()">Update Score</button>
        	</div>
      	</div>
      </hr>
    </div>
	</body>
</html>